* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #161D25;
}

.navbar {
    padding: 20px 0;
    background-color: #222933;
}

.row {
    padding: 50px 0;
}

.navbar-brand {
    color: #a5bbdc;
    cursor: pointer;
}

.navbar-brand:hover {
    color: #a5bbdc;
}

input {
    outline: none;
    border: 0;
    border: 1px solid #313842;
    background-color: #222933 !important;
}

select {
    outline: none;
    border: 0;
    border: 1px solid #313842;
    background-color: #222933 !important;
    color: #99b1d4 !important;
}

option {
    color: #99b1d4 !important;
}

input:focus {
    color: #99b1d4 !important;
}

input:active {
    color: #99b1d4 !important;
}

input::placeholder {
    color: #99b1d4 !important;
}

.fa-search {
    color: #99b1d4;
    cursor: pointer;
}

.outer {
    cursor: pointer;
    padding: 2px;
    background: linear-gradient(to bottom, #00c8ff, rgba(0, 200, 255, 0) 80%);
    border-radius: 16px;
    transition: all .4s ease;
}

.outer:hover img {
    transform: scale(.9, .9);
}

.inner {
    min-height: 550px;
    max-height: 550px;
    overflow: hidden;
    background-image: radial-gradient(50% 29.45% at 50% 50%, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), linear-gradient(253.4deg, #0072ff -3.22%, #820db6 101.86%);
    background-attachment: scroll, fixed;
    border-radius: inherit;
}

.innerinner {
    min-height: 550px;
    max-height: 550px;
    border-radius: inherit;
    background: rgba(250, 250, 250, 0.1);
    padding: 24px;
    display: flex;
    flex-direction: column;
}

.innerinner img {
    height: 266px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 10px;
}

.innerinner h4 {
    color: #fafafa;
}

.level {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(250, 250, 250, 0.4);
    margin-bottom: 10px;
}
.level p {
    margin-right: 10px;
    font-size: 14px;
    font-weight: 300;
    color: #ddd;
}

.level span {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fafafa;
    display: flex;
    place-content: center;
}
.level span svg {
    width: 12px;
}

button {
    margin-top: 1rem;
    flex-grow: 1;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    background: linear-gradient(262.43deg, #6730a7 13.4%, #2ad8d6 86.96%);
    background-size: 100%;
    background-position: 0 0;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: background-size 100ms linear, background-position 300ms;
}

button:hover {
    background-size: 400%;
    background-position: 100% 0;
}

@media only screen and (max-width: 767px) {
    .sort{
        margin-top: 20px;
    }
}